---
import { getCollection } from "astro:content";
import Layout from "~/layouts/Layout.astro";
import "~/styles/code-highlight.css";

export async function getStaticPaths() {
	const postsCollection = await getCollection("posts");

	return postsCollection.map((entry) => ({
		params: { slug: entry.slug },
		props: { entry },
	}));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
const date = entry.data.updatedAt.toISOString();
const canonicalPath = `posts/${entry.slug}/`;
---

<Layout title={entry.data.title} description={`이 게시물에서는 ${entry.data.description}`} canonicalPath={canonicalPath}>
		<article class="mx-auto prose prose-headings:text-white prose-p:text-white prose-li:text-white prose-strong:text-white prose-pre:border prose-li:marker:text-white">
			<section class="border-b pb-6">
				<h1 class="mb-0 leading-[50px]">{entry.data.title}</h1>
				<p class="py-0 my-0">
					<span class="text-sm">업데이트: <time datetime={date}>{date.slice(0, 10)}</time></span>
				</p>
			</section>
			<Content />
		</article>
</Layout>