---
import { getCollection } from "astro:content";
import Prose from "~/components/Prose.astro";
import TagBox from "~/components/TagBox.astro";
import Layout from "~/layouts/Layout.astro";
import { parseDate } from "~/utils/date";

export async function getStaticPaths() {
  const postsEntries = await getCollection("posts");
  return postsEntries.map((postEntry) => ({
    params: { slug: postEntry.slug },
    props: { postEntry },
  }));
}

const { postEntry } = Astro.props;
const {
  data: { title, date, tags, description },
  slug,
} = postEntry;
const { Content } = await postEntry.render();
---

<Layout postsTitle={title} description={description}>
  <div class="flex flex-col gap-6 md:w-full w-[90vw]">
    <section class="flex flex-col gap-6">
      <div class="flex flex-col gap-6">
        <ul class="flex gap-2" transition:name="tag-list">
          {
            tags.map((tag) => (
              <li>
                <TagBox name={tag} />
              </li>
            ))
          }
        </ul>
        <h1 class="text-5xl font-bold" transition:name={slug}>{title}</h1>
        <time
          transition:name={slug + "time"}
          datetime={date.toISOString()}
          class="text-sm">{parseDate(date)}</time
        >
      </div>
    </section>
    <hr />

    <Prose>
      <Content />
    </Prose>
  </div>
</Layout>
