---
import { Icon } from 'astro-icon/components'
import Card from '~/components/Card.astro'
import Link from '~/components/Link.astro'
import { skills, social } from '~/data'
import Layout from '~/layouts/layout.astro'
---

<Layout>
  <h1 class="text-3xl font-extrabold animate-slide-up mb-10">Junseong Park</h1>
  <section class="mb-10">
    <h2 class="text-2xl font-bold mb-4">Tech Stack</h2>
    <div class="flex flex-wrap gap-4">
      {
        skills.map(({ name, icon }) => (
          <Card>
            <Icon size={50} name={icon} />
            <p>{name}</p>
          </Card>
        ))
      }
    </div>
  </section>
  <section>
    <h2 class="text-2xl font-bold mb-4">Social</h2>
    <div class="flex gap-4">
      {
        social.map(({ name, url, icon }) => (
          <Link href={url} title={name}>
            <Icon size={40} name={icon} />
          </Link>
        ))
      }
    </div>
  </section>
</Layout>