---
import { Icon } from 'astro-icon/components'
import Card from '~/components/Card.astro'
import Link from '~/components/Link.astro'
import { projects, skills, social } from '~/data'
import Layout from '~/layouts/layout.astro'
---

<Layout>
  <section class="mb-10" >
    <h1 class="text-3xl font-extrabold">Junseong Park</h1>
    <a class="hover:opacity-50 duration-200" href="mailto:x@jspark.dev" title="mail">
      x@jspark.dev
    </a>
  </section>
  <section class="mb-10">
    <h2 class="text-xl font-bold">Tech Stack</h2>
    <p class="mb-6">The building blocks of my development projects</p>
    <div class="flex flex-wrap gap-3">
      {
        skills.map(({ name, icon }) => (
          <Card>
            <Icon size={40} name={icon} />
            <p>{name}</p>
          </Card>
        ))
      }
    </div>
  </section>
  <section class="mb-10">
    <h2 class="text-xl font-bold">Social</h2>
    <p class="mb-6">Discover my recent updates and projects here.</p>
    <div class="flex flex-wrap gap-3">
      {
        social.map(({ name, url, icon }) => (
          <Link href={url} title={name}>
            <Card>
              <Icon size={30} name={icon} />
              <p>{name}</p>
            </Card>
          </Link>
        ))
      }
    </div>
  </section>
  <section>
    <h2 class="text-xl font-bold">Projects</h2>
    <p class="mb-6">
      Here are some of the projects I've worked on recently.
    </p>
    <div class="flex flex-wrap gap-3">
      {
        projects.map(({ name, url, description, icons }) => (
        <Link href={url} title={name}>
          <Card>
            <div>
              <p class="text-xl font-semibold">{name}</p>
              <p>{description}</p>
              <div class="flex gap-2 mt-2">
                {
                  icons.map(icon => (
                    <Icon size={30} name={icon} />
                  ))
                }
              </div>
            </div>
          </Card>
        </Link>
        ))
      }
    </div>
  </section>
</Layout>