---
import Layout from "~/layouts/Layout.astro";
import { getCollection } from "astro:content";

const allPosts = await getCollection("posts");

const allTags = Array.from(
  new Set(allPosts.map((post) => post.data.tags).flat()),
).sort((a, b) => a.localeCompare(b));
---

<Layout>
  <div class="flex flex-col gap-14">
    <section class="flex flex-col gap-3">
      <h1 class="text-5xl">전체 게시물</h1>
      <p>총 {allPosts.length}개의 게시물이 있습니다.</p>
      <hr />
      <ul>
        {
          allPosts.map((post) => {
            return (
              <li>
                <a
                  href={`/posts/${post.slug}`}
                  class="hover:underline"
                  title={`${post.data.title} 게시물을 읽습니다.`}
                >
                  {post.data.title}
                </a>
              </li>
            );
          })
        }
      </ul>
    </section>
    <section class="flex flex-col gap-3">
      <h1 class="text-5xl">태그</h1>
      <p>총 {allTags.length}개의 태그가 있습니다.</p>
      <hr />
      <ul class="flex gap-2">
        {
          allTags.map((tag) => {
            return (
              <li>
                <a
                  href={`/tags/${tag}`}
                  class="bg-white bg-opacity-20 px-3 rounded-xl py-1.5 text-base hover:bg-opacity-30 transition-color duration-300"
                  title={`${tag} 태그를 가진 게시물의 목록을 확인합니다.`}
                >
                  {tag}
                </a>
              </li>
            );
          })
        }
      </ul>
    </section>
  </div>
</Layout>
