---
import { Icon } from 'astro-icon/components'

interface Props {
	icon: string
	name: string
	href?: string
}

export type IconCardProps = Props

const { icon, name, href } = Astro.props
const size = 30
---

<a class="antialiased flex items-center gap-3 bg-[var(--card-color-bg)] duration-500 py-2 px-5 rounded-xl group" href={href} title={name} target="_blank">
  <div class="group-hover:rotate-[10deg] duration-500">
    <Icon name={icon} size={size} />
  </div>
  <span class="text-[var(--card-color-text)]">{name}</span>
</a>
