---
import { getCollection } from "astro:content";
import Card from "./Card.astro";
import { parseDate } from "~/utils/date";

interface Props {
	preview?: boolean;
}

const { preview } = Astro.props;

const allPosts = (await getCollection("posts")).slice(
	0,
	preview ? 2 : undefined,
);
---

<ul class="space-y-2">
  {
    allPosts.map((post) => (
      <li transition:name={`post-item-${post.id}`}>
        <Card hover>
          <a class="flex justify-between p-4 items-center" href={`/posts/${post.slug}`} title={`Read ${post.data.title}`}>
            <div>
              <p class="mb-2" transition:name={`post-title-${post.id}`}>{post.data.title}</p>
              <p class="text-xs">{parseDate(post.data.pubDate)}</p>
            </div>
            <p>&rarr;</p>
          </a>
        </Card>
      </li>
    ))
  }
</ul>