---
import ShowDate from "./ShowDate.astro";

interface Props {
  title: string;
  updatedAt: Date;
}

const { title, updatedAt } = Astro.props;
---

<div class="flex landscape:justify-between justify-end">
  <h2 class="text-right landscape:text-left" transition:name={title}>{title}</h2>
  <span class="hidden landscape:block" transition:name=`${title}${updatedAt}`><ShowDate date={updatedAt} /></span>
</div>