---
import { getCollection } from "astro:content";
import Card from "./Card.astro";
import { Icon } from "astro-icon/components";

interface Props {
	preview?: boolean;
}

const { preview } = Astro.props;

const allProjects = (await getCollection("projects")).slice(
	0,
	preview ? 2 : undefined,
);
---

<ul class="space-y-2">
  {
    allProjects.map((project) => (
      <li transition:name={`project-item-${project.id}`}>
        <Card>
          <div class="flex flex-col px-6 py-4">
            <section class="flex justify-between items-center">
              <h2>{project.data.title}</h2>
              <div class="flex gap-4">
                <a href={project.data.repository} title={`Link to my project Github repository - ${project.data.title}`}>
                  <Icon name="mdi:github" size={24} />
                </a>
                <a href={project.data.url} title={`Link to my project website - ${project.data.title}`}>
                  <Icon name="mdi:monitor-cellphone" size={24} />
                </a>
              </div>
            </section>
            <p>{project.data.description}</p>
          </div>
        </Card>
      </li>
    ))
  }
</ul>