---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import FormattedDate from "../components/FormattedDate.astro";
import BaseLayout from "./BaseLayout.astro";
import { Image } from "astro:assets";
import defaultHeroImage from "../assets/images/blog-placeholder-1.jpg";

type Props = CollectionEntry<"blog">["data"];

const {
  title,
  description,
  pubDate,
  updatedDate,
  heroImage = defaultHeroImage,
} = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <BaseLayout>
    <article class="max-w-2xl w-full mx-auto">
      <Image
        src={heroImage}
        alt={title}
        format="avif"
        class="h-64 object-cover rounded-lg mb-8"
      />
      <h1 class="text-3xl font-bold mb-4 text-gray-900">{title}</h1>
      <div class="flex flex-wrap items-center text-sm text-gray-600 mb-8">
        <p class="mr-4">
          Published: <FormattedDate date={pubDate} />
        </p>
        {
          updatedDate && (
            <p class="italic">
              Updated: <FormattedDate date={pubDate} />
            </p>
          )
        }
      </div>
      <div class="prose prose-p:text-gray-800"><slot /></div>
    </article>
  </BaseLayout>
</html>
