---
import BaseLayout from "./BaseLayout.astro";
import Head from "~/components/Head.astro";
import FormattedDate from "~/components/FormattedDate.astro";
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import defaultHeroImage from "~images/huston.jpg";
import { AUTHOR } from "~/consts";

type Props = CollectionEntry<"blog">["data"];

const {
  title,
  description,
  pubDate,
  updatedDate,
  heroImage = defaultHeroImage,
} = Astro.props;
---

<html lang="en">
  <Head title={`${title} | ${AUTHOR}'s Tech Blog`} description={description} />
  <BaseLayout>
    <article class="mx-auto w-full max-w-2xl">
      <Image
        src={heroImage}
        alt={title}
        format="avif"
        loading="eager"
        class="mb-8 h-64 rounded-lg object-cover"
      />
      <h1 class="mb-4 text-3xl font-bold text-gray-900">{title}</h1>
      <div class="mb-8 flex flex-wrap items-center text-sm text-gray-600">
        <p class="mr-4">
          Published: <FormattedDate date={pubDate} />
        </p>
        {
          updatedDate && (
            <p class="italic">
              Updated: <FormattedDate date={updatedDate} />
            </p>
          )
        }
      </div>
      <div class="prose prose-p:text-gray-800"><slot /></div>
    </article>
  </BaseLayout>
</html>
