---
import { ViewTransitions } from "astro:transitions";
import Header from "~/components/Header.astro";
import "~/styles/tailwind.css";

interface Props {
	title: string;
	description: string;
	path?: string;
}

const { title, description, path } = Astro.props;

const name = "Junseong Park";
const username = "@jsparkdev";

const canonicalURL = path ? `${Astro.site}${path}/` : Astro.site;
---

<!doctype html>
<html lang="ko-KR">
	<head>
		<!-- 기본 SEO -->
		<title>{title}</title>
		<meta charset="UTF-8" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<meta name="description" content={description} />
		<meta name="generator" content={Astro.generator} />
		<meta name="viewport" content="width=device-width" />
		<link rel="canonical" href={canonicalURL} />
		<!-- 파비콘 -->
		<link rel="icon" href="/favicon.ico" sizes="32x32">
		<link rel="icon" href="/icon.svg" type="image/svg+xml">
		<link rel="apple-touch-icon" href="/apple-touch-icon.png">
		<!-- 트위터 카드 -->
		<meta name="twitter:title" content={name}>
		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content={username}>
		<meta name="twitter:image:alt" content={name}>
		<meta name="twitter:creator" content={username}>
		<meta name="twitter:description" content={description}>
		<meta name="twitter:image" content='/favicon-96x96.png'>
		<!-- 오픈 그래프 -->
		<meta property="og:title" content={name} />
		<meta property="og:type" content="website" />
		<meta property="og:description" content={description} />
		<meta property="og:image" content="/favicon-96x96.png" />
		<meta property="og:url" content={canonicalURL} />
		<ViewTransitions />
	</head>
	<body class="text-white bg-slate-900 antialiased">
		<Header />
		<main class="py-20 px-6 landscape:pt-32">
			<slot />
		</main>
	</body>
</html>