---
import { ViewTransitions } from "astro:transitions";
import Header from "~/components/Header.astro";
import "~/styles/tailwind.css";

interface Props {
	title?: string;
	description?: string;
	canonicalPath?: string;
}

const { title, description, canonicalPath } = Astro.props;
const baseDescription =
	"이 웹사이트는 TypeScript, React, Remix, Astro, Cloudflare 등 웹 애플리케이션을 구축하기 위해 사용되는 다양한 기술에 대한 지식과 경험을 공유합니다.";
const descriptionResult = `${baseDescription} ${
	description ? description : ""
}`.trim();

const name = "Junseong Park";
const username = "@jsparkdev";
---

<!doctype html>
<html lang="ko-KR">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={descriptionResult} />
		<meta name="viewport" content="width=device-width" />
		<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">
		<meta name="generator" content={Astro.generator} />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<link rel="canonical" href=`${Astro.site}${canonicalPath ? canonicalPath : ""}` />
		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content={username}>
		<meta name="twitter:creator" content={username}>
		<meta name="twitter:title" content={name}>
		<meta name="twitter:description" content={descriptionResult}>
		<title>{title ? `${title} | ${name}` : `Home | ${name}`}</title>
		<ViewTransitions />
	</head>
	<body class="text-white">
		<Header />
		<main class="pt-40 pb-20 px-3 landscape:pt-32 landscape:px-16">
			<slot />
		</main>
	</body>
</html>