---
import { ViewTransitions } from "astro:transitions";
import Header from "~/components/Header.astro";
import "~/styles/tailwind.css";

interface Props {
  title?: string;
  description?: string;
  canonicalPath?: string;
}

const { title, description, canonicalPath } = Astro.props;
const baseDescription =
  "이 웹사이트는 TypeScript, React, Remix, Astro, Cloudflare 등 웹 애플리케이션을 구축하기 위해 사용되는 다양한 기술에 대한 지식과 경험을 공유합니다.";
const descriptionResult = `${baseDescription} ${
  description ? description : ""
}`.trim();

const name = "Junseong Park";
const username = "@jsparkdev";
---

<!doctype html>
<html lang="ko-KR">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={descriptionResult} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.ico" sizes="32x32">
		<link rel="icon" href="/icon.svg" type="image/svg+xml">
		<link rel="apple-touch-icon" href="/apple-touch-icon.png">
		<meta name="generator" content={Astro.generator} />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<link rel="canonical" href=`${Astro.site}${canonicalPath ? canonicalPath : ""}` />
		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content={username}>
		<meta name="twitter:creator" content={username}>
		<meta name="twitter:title" content={name}>
		<meta name="twitter:image" content='/favicon-96x96.png'>
		<meta name="twitter:image:alt" content={name}>
		<meta name="twitter:description" content={descriptionResult}>
		<meta property="og:title" content={name} />
		<meta property="og:description" content={descriptionResult} />
		<meta property="og:url" content={`${Astro.site}${canonicalPath ? canonicalPath : ""}`} />
		<meta property="og:image" content="/favicon-96x96.png" />
		<meta property="og:type" content="website" />
		<title>{title ? `${title} | ${name}` : `Home | ${name}`}</title>
		<ViewTransitions />
	</head>
	<body class="text-white">
		<Header />
		<main class="pt-40 pb-20 px-3 landscape:pt-32 landscape:px-16">
			<slot />
		</main>
	</body>
</html>

<style>
	:root {
    ::-webkit-scrollbar {
      width: 4px;
    }

    ::-webkit-scrollbar-thumb {
      background: rgb(2,0,36);
      background: linear-gradient(rgba(2,0,36,1) 0%, rgb(12, 97, 255) 0%, rgba(248,89,255,1) 100%);
    }
  }

  body {
    background-image: radial-gradient(
      farthest-corner circle at 100% 0% in oklab,
      oklch(50% .4 222) 0%, oklch(35% .5 313) 100%
    );   
  }

  a {
    @apply hover:opacity-50 duration-500;
  }
</style>